<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <h1>Login page</h1>
        <form method="post">
            {% csrf_token %}
            <input type="text" placeholder="username" name="username"><br>
            <input type="password" placeholder="conpassword" name="c_password"><br>
            <button>Submit</button>
            <a href="{%url 'reg'%}">Login</a>
        </form>
    </center>
</body>

</html>