
.parent{
  display: flex;
  flex-wrap: nowrap;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.card1{
  border: 2px solid red;
  margin: 10px;
  align-items: center;
  color: white;
}
.card2{
  border: 2px solid rgb(226, 7, 142);
  margin: 10px;
   align-items: center;
   color: white;
}

.card3{
  border: 2px solid rgb(3, 225, 125);
  margin: 10px;
   align-items: center;
   color: white;
}


body{
  background-color: rgb(32, 123, 189);
}


