div{
    width: 500px;
    height: 500px;
    background-image: url("../ASSETS/MV5BYzU2MzZiOTEtZTgwOS00MTdlLWJmMDQtNjdjOGIxYTA0NTYxXkEyXkFqcGc@._V1_.jpg");
    border: 2px solid;
    margin:auto;
    /* transform: rotate(deg); */
    /* transform: scale(1.5); */
    /* transform: skew(50deg); */
    /* transform:translate(100px); */
   /* transform: matrix(); */
   transition: all;
   flex: wrap;
 }

 div:hover{
    width: 500px;
    height: 500px;
    background-image: url("../ASSETS/images.jpg");
    transition-duration: 5s;
    /* transition-timing-function: cubic-bezier(.02,1.31,1,-0.88); */
    /* transform: rotate(150deg); */
    transform:rotatey(360deg);
    transform: scale(150 deg);
 }

