<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table border="2">
        <tr>
            <th>Emp_id</th>
            <th>Emp_name</th>
            <th>Emp_age</th>
            <th>Emp_email</th>
            <th>Emp_update</th>
            <th>Emp_del</th>
        </tr>
        {% for x in data %}
        <tr>
            <td>{{x.emp_id}}</td>
            <td>{{x.emp_name}}</td>
            <td>{{x.emp_age}}</td>
            <td>{{x.emp_email}}</td>
            <td><a href="{% url 'up_del' x.id %}">Update</a></td>
            <td><a href="{% url 'del' x.id %}">Delete</a></td>
        </tr>
        {% endfor %}

        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button>Push</button>
        </form>
        
    </table>
</body>

</html>