<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{messege}}</h2>
    <form method="post">
        {% csrf_token %}
        <input type="text" placeholder="id" name="emp_id"><br><br>
        <input type="text" placeholder="name" name="emp_name"><br><br>
        <input type="text" placeholder="dep" name="emp_dep"><br><br>
        <button>submit</button>

    </form>
    <table border="1">
        <tr>
            <th>emp_id</th>
            <th>emp_name</th>
            <th>emp_dep</th>
        </tr>
        {% for x in data %}
        <tr>
            <td>{{x.emp_id}}</td>
            <td>{{x.emp_name}}</td>
            <td>{{x.emp_dep}}</td>
        </tr>
         {%endfor %}
    </table>
</body>
</html>